<div class="banner">
    <h1> Weather Dashboard of a December Winter Day </h1>
  </div>

  <nav class="navbar">
    <div class="nav-title"> Search... </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
    
<div style="width: 100%; max-width: 600px; margin: 20px auto;">
    <h3>Temperature Overview</h3>
    <canvas #temperatureChartCanvas></canvas>
  </div>
  
  <div style="width: 100%; max-width: 600px; margin: 20px auto;">
    <h3>Humidity Distribution</h3>
    <canvas #humidityChartCanvas></canvas>
  </div>
  
  <div style="width: 100%; max-width: 600px; margin: 20px auto;">
    <h3>Wind Speeds</h3>
    <canvas #windChartCanvas></canvas>
  </div>
  
  <div class="footer">
    <p> Created by Shadiah Ricardo | Pink Weather Dashboard © 2024</p>
  </div>
  